{% block body %}
    <div class="span3" xmlns="http://www.w3.org/1999/html">
        {% include 'layout.html.twig' %}
    </div>

    <div class="container">
        <div class="row">


            <div class="span9">

                <ul class="thumbnails">
                    {% for product in products %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="{{ product.image }}" alt="UnCadeau.com" width="300" height="300">
                            <div class="caption">
                                <h4>{{ product.nom }}</h4>
                                <p>{{ product.prix }} €</p>
                                <a class="btn btn-primary" href={{ path('index') }}>Plus d'infos</a>
                                <a class="btn btn-success" href="{{ path('index') }}">Voir le produit</a>
                            </div>
                        </div>
                    </li>
                   {% endfor %}
                </ul>

                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}