<hr />
<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    <li><a href="{{ path('monCompte') }}">CGV</a>
                    <li><a href="{{ path('monCompte') }}">Mentions légales</a>
                </ul>
            </div>

            <div class="span4">
                <h4>Notre Adresse</h4>
                <p><i class="icon-map-marker"></i>&nbsp;Nice 06 000 - 8 av Malaussena</p>
            </div>

            <div class="span2">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: 04 83 93 51 70</p>
                <p><i class="icon-print"></i>&nbsp;Fax: 04 83 93 51 70</p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2017 - Coraline</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset('../js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>
{% block javascripts %}{% endblock %}


